body{
    background: url("../images/bg.gif") repeat scroll center top transparent;
    color: #88888A;
    font: 12px/20px "Trebuchet MS",Arial,Helvetica,sans-serif;
    min-width: 300px;
    position: relative;
	margin:0;
}
#top_menu{background:url("../images/bg-row-menu.gif") repeat-x scroll left top #2553A1}
.container{margin:0 auto;padding: 0;position: relative;width: 960px;}
#main_menu{border-left: 1px solid #1F4986;border-right: 1px solid #2F69B8;float: left;}
#login_menu{float:right}
#page_wrapper{}
.clear{clear:both}
#main_menu ul{
    margin: 0;
	padding:0;
    text-align: left;line-height: 1;
    z-index: 497;list-style: none outside none;}
#main_menu ul li{border-left: 1px solid #2F69B8;
    border-right: 1px solid #1F4986;
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;}
#main_menu ul > li > a {
    border-bottom: 1px solid #2553A1;
    border-top: 4px solid #102847;
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    overflow: hidden;
    padding: 16px 29px 17px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(15, 38, 68, 0.38);
    text-transform: uppercase;
}
#main_menu ul a {
    background: none repeat scroll 0 0 transparent;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

#main_menu ul > li.main_menu_active > a{
    background: #1E4585;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    border-top:4px solid #ebeff3;
}

#main_menu ul>li>a:hover,#main_menu ul>li>a.active{background:#1E4585;border-top:4px solid #ebeff3;}
#login_menu ul, #footer-bottom ul{list-style: none outside none;padding-top:5px;color:#fff}
#footer-bottom ul{padding:0}
#footer-bottom li{display:inline;background: url("../images/footer-marker.gif") no-repeat scroll 0 5px transparent;
    margin: 0 11px 0 0;
    padding: 0 0 0 13px;}
#logo_bar{background: url("../images/bg-row-logo.gif") repeat-x scroll left top transparent;
    padding-top: 20px;}
#logo{float:left;width:121px;height:90px;background:url(../images/iwmi-logo.png);margin-left: 7px;}
#logo2{float:left;width:282px;height:90px;background:url(../images/iwmi-logo2.png);margin-left: 7px;}
#search{float:right}
#content{background: url("../images/slider-top.gif") repeat-x scroll center top transparent;}
#search h2{float: left;color: #A5A49E;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0 !important;
    text-shadow: 1px 0 0 #FFFFFF;
    text-transform: uppercase;
    width: 54px;}
.container-inline {
    background: url("../images/bg-form.png") repeat scroll 0 0 transparent;
    border: 1px solid #D8D8D8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
    float: left;
    margin: 0 0 1px;
    overflow: hidden;
    position: relative;
    width: 178px;
}
.container-inline .form-item {
    float: left;
    margin: 0;
    width: auto;
}
.container-inline div, .container-inline label {
    display: inline;
}
#footer {
    background: url("../images/bg-footer.gif") repeat-x scroll 0 0 transparent;
    border-top: 1px solid #FFFFFF;
    clear: both;
    padding: 7px 0 0;
    position: relative;
}

#footer-top {
    background: url("../images/bg-footer-top.gif") repeat-x scroll left bottom #295CAA;
    border-bottom: 1px solid #2C64B4;
    overflow: hidden;
    padding: 18px 0 16px;
    width: 100%;
	color:#C3D9FC;
}
#footer-bottom{
background: url("../images/bg-footer-bot.gif") repeat-x scroll 0 0 #102846;
    overflow: hidden;
    padding: 18px 0 16px;
    width: 100%;
}
#footer-bottom ul li a.active, #footer-bottom ul li a:hover {
    color: #C3D9FC;
    text-decoration: underline;
}
#footer-bottom ul li.first {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
#footer-message {
	text-align: center;
}
#subtitle-style{
	margin-left: 40px;
	color: gray;
    font-size: 22px;
    margin-bottom: 4px;
    text-align: left;
    font-weight: bold;
}
#map-canvas{
	border: 5px solid #ccc;
	border-radius: 4px;	
	margin-bottom: 10px;
	float: left;
	height: 500px;
    width: 78%;
    overflow: auto;
}
#footer-links{
	float: left;
}
#footer-links a{
	text-decoration: none;
	color: #C3D9FC;
}

#powered-by{
	float: right;
	color: white;
	margin-top: 10px;
}
#powered-by a{
	color: #C3D9FC;
}
#map-container {
	margin: 0 auto;
	width: 95%;
}
#right-side-panel{
	border: 5px solid #ccc;
	width: 18%;
	height: 500px;
	float: left;
	border-left: none;
	padding-left: 5px;
}

#right-side-panel select{
    width:85%;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}

#search-form {
	width:960px;
	align:center;
	border: 5px solid #ccc;
}

#search-form select, input[type=text]{
    width:860px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box; 
}

#result-layout{
	height: 500px;
    overflow: auto;
    border: 5px solid #ccc;
}

#project-title{
	width : 500px;
	text-align: center;
	float: left;
	font-size: 14px;
	line-height: 30px;
}

.details-border {
	border: 5px solid #ccc;
}

#project-name {
	font-size : 20px;
	font-family: lucida, trebuchet MS, verdana;
	font-weight: bold;
	color: #595959;
	text-shadow: #fff 1px 1px, #fff -1px -1px;
}

.prg-detail-65 {
	float: left;
	width: 65%;
	text-align: justify;
}

.prg-detail-33 {
	float: left;
	width: 33%;
	padding-left: 2%;
}

.result-detail-80 {
	float: left;
	width: 88%;
	padding-left: 2%;
	text-align: justify;
	color: #2553A1;
}

.result-detail-18 {
	float: left;
	width: 10%;
	font-weight: bold;
}

.prg-detail-content-topic{
	font-family: lucida, trebuchet MS, verdana;
	font-size: 20px;
	color: #595959;
	text-shadow: #fff 1px 1px, #fff -1px -1px;
}

.prg-detail-content-body{
	font-family: trebuchet MS, verdana;
	font-size: 14px;
	color: #2553A1;
	font-weight: bold;
	text-decoration: none;
}

#tabs {
	line-height: 1.8em;
}

.prg-detail-content-row{
	margin-bottom: 30px;
}

.clear{
	clear: both;
}

.search-output-filter{
	margin: 10px 0px 20px 5px;
	
}
	
.result-header{
	font-weight: bold;
	float: right;
	margin: 10px 20px 0px 0px;
}

.filter-layout{
	float: left;
}

.search-result-layout{
	padding-left: 5px;	
}

.project-name-link{
	font-size : 18px;
	font-family: lucida, trebuchet MS, verdana;
	font-weight: bold;
	color: #595959;
	text-shadow: #fff 1px 1px, #fff -1px -1px;
}

.project-name-link a {
	text-decoration: none;
	color: #595959;
}

.search-result-details {
}

.result-detail-content-row{
	margin-bottom: 5px;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width: 100%;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}

.backButton a {
	margin : 10px 0px 10px 0px;
	background:url(../images/back-button.png) center no-repeat;
	float: right;
	height:30px;
	width:66px;
	border:none;
}

/* .list-view-item-odd{
	background-color: #c4c4c4;
}

.list-view-item-even{
	background-color: #b3ffd7;
} */

.list-view-item a {
	text-decoration: none;
}

.search-button {
	height: 30px;
	width: 79px;
	background: url(../images/search-button.png) center no-repeat;
	border: none;
	cursor: pointer;
}

.clear-button {
	height: 30px;
	width: 70px;
	background: url(../images/clear-button.png) center no-repeat;
	border: none;
	cursor: pointer;
}

#advanced-search-buttons {
	margin-bottom: 20px;
}

.view-menu a{
	text-decoration: none;
	font-weight: bold;
	font-family: 'Open Sans',sans-serif;
}


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
